@model GrdPoc.Models.Entities.UserAccount

@{
    ViewBag.Title = "Details";
}
<br />
@Html.Partial("../Shared/_AccountsTabsView")


<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntity.MunicipalEntityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntity.MunicipalEntityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaType.PersonaTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaType.PersonaTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
