@model IEnumerable<GrdPoc.Models.Entities.BlockchainNodeServer>

@{
    ViewBag.Title = "Index";
}
<br />
@Html.Partial("../Shared/_BlockchainTabsView")


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NodeServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeServerNameAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeServerIpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeServerActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NodeServerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeServerNameAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeServerIpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeServerActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlockChainNodeServerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BlockChainNodeServerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BlockChainNodeServerId })
        </td>
    </tr>
}

</table>
