@model GrdPoc.Models.Entities.MunicipalEntity

@{
    ViewBag.Title = "Details";
}
<br />
@Html.Partial("../Shared/_AccountsTabsView")


<h2>Details</h2>

<div>
    <h4>MunicipalEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityKvk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityKvk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityBtw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityBtw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityIban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityIban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalEntityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalEntityType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MunicipalEntityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
