@model GrdPoc.Models.Entities.BlockchainAccount

@{
    ViewBag.Title = "Details";
}
<br />
@Html.Partial("../Shared/_BlockchainTabsView")


<h2>Details</h2>

<div>
    <h4>BlockchainAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreferedBlockChainNodeServer.NodeServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferedBlockChainNodeServer.NodeServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlockChainAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
