@model GrdPoc.Models.Entities.PersonaType

@{
    ViewBag.Title = "Details";
}
<br />
@Html.Partial("../Shared/_AccountsTabsView")


<h2>Details</h2>

<div>
    <h4>PersonaType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonaTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonaTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
