<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.IsSelected(controller: "IncidentalContracts")"><a href="/IncidentalContracts">Incidental Contracts</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "IncidentalContractItems")"><a href="/IncidentalContractItems">Incidental Contract Items</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "IncidentalContracTypes")"><a href="/IncidentalContracTypes">Incidental Contract Types</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "ServiceIncidentalContracts")"><a href="/ServiceIncidentalContracts">Service Incidental Contracts</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "ProductIncidentalContracts")"><a href="/ProductIncidentalContracts">Product Incidental Contracts</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "TrainningIncidentalContracts")"><a href="/TrainningIncidentalContracts">Trainning Incidental Contracts</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "TrainningAttendees")"><a href="/TrainningAttendees">TrainningAttendees</a></li>
</ul>

