@model GrdPoc.Models.Entities.ProductCodeCategory

@{
    ViewBag.Title = "Delete";
}
<br />
@Html.Partial("../Shared/_CodesTabsView")


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductCodeCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCodeCategoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCodeCategoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCodeCategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCodeCategoryDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
